/Debug/
.project
.cproject
.settings
*.out

# Build directories
/build
/cmake-build-*/
CMakeFiles/
/src/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Compiled binaries and libraries
*.o
*.a
*.so
*.out
*.dylib
*.exe
quak-main

# Ignore executables in tests/ and /experiments (but not source)
/tests/
/experiments/
/src/tests/
!tests/*.cpp
!tests/*.h
!tests/*.py
!experiments/*.cpp
!experiments/*.h
!experiments/*.py

# MacOS
.DS_Store

# IDE files
.vscode/
.idea/

.cache/