/Debug/
.project
.cproject
.settings
*.out

# Build directories
/build
/cmake-build-*/
CMakeFiles/
/src/CMakeFiles/

CMakeCache.txt
cmake_install.cmake

# Compiled binaries and libraries
*.o
*.a
*.so
*.dylib
*.exe

# MacOS
.DS_Store

# IDE files
.vscode/
.idea/